{% extends "base.html" %}

{% block content %}
  <h1>{{ article.name }}</h1>
  <div>{{ article.body }}</div>

  <hr>

  <h2>Комментарии</h2>
  <ul>
    {% for comment in article.comments.all %}
      <li>{{ comment.content }}</li>
    {% empty %}
      <li>Комментариев пока нет</li>
    {% endfor %}
  </ul>

  <h2>Оставить комментарий</h2>
  <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Сохранить" />
  </form>
{% endblock %}